#title{
  text-align : center;
}
#description{
  text-align : center;
}

#name,#email,#number{
  width : 580px;
  height:40px;
}

#dropdown{
  width :200px;
  height:40px;
}

#txtarea{
  width :600px;
  height:100px;
}
